[run]
branch = true
source = flaskbb_ranks
omit =
        __meta__.py
parallel = true

[paths]
source =
   src/flaskbb_ranks/
   .tox/*/lib/*/site-packages/flaskbb_ranks/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug:
    if settings.DEBUG
    raise NotImplementedError
    if 0:
    if False:
    if __name__ == .__main__.:
    @abstractmethod
    return NotImplemented
    association_proxy

fail_under = 80
precision = 2
show_missing = true
skip_covered = true

[html]
directory = tests/htmlcov
