{% set page_title = rank.rank_name %}

{% extends theme("layout.html") %}
{% block content %}
{%- from "rank_macros.html" import rank_users with context -%}

<div class="page-view">
    <ol class="breadcrumb flaskbb-breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('ranks.index') }}">{% trans %}Ranks{% endtrans %}</a></li>
        <li class="breadcrumb-item active">{{ rank.rank_name }}</li>
    </ol>

    <div class="card page">
        <div class="card-header page-header">{{ rank.rank_name }}</div>
        <div class="card-body page-body">
            <div class="row m-0 page-meta">
                <div class="col-md-4 col-6 ps-3 meta-item">{% trans %}Rank{% endtrans %}</div>
                <div class="col-md-2 col-6 meta-item">{% trans %}Posts{% endtrans %}</div>
                {% if rank_setting("SHOW_USERS") %}
                <div class="col-md-6 d-none d-md-block meta-item">{% trans %}Users{% endtrans %}</div>
                {% endif %}
            </div>
            <div class="row page-row">
                <div class="col-md-4 col-6 ps-3">{{ rank.rank_code|nonpost_markup }}</div>
                <div class="col-md-2 col-6">
                    {% if rank.is_custom() %}{% trans %}Custom{% endtrans %}{% else %}{{ rank.requirement }}{% endif %}
                </div>
                {% if rank_setting("SHOW_USERS") %}
                <div class="col-md-6 col-12 ps-3 ps-md-2">{{ rank_users(rank) }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
