{% set page_title = _("Ranks") %}

{% extends theme("layout.html") %}
{% block content %}
{%- from "rank_macros.html" import rank_block with context -%}

<div class="page-view">
    <ol class="breadcrumb flaskbb-breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item active">{% trans %}Ranks{% endtrans %}</li>
    </ol>

    {{ rank_block(
        _("By Post Count"),
        ranks["requirement"],
        rank_setting("HIDE_UNAPPLIED_RANKS"),
        rank_setting("NAME_PLACEHOLDER"),
        rank_setting("CODE_PLACEHOLDER"),
        True,
    ) }}
    {{ rank_block(
        _("Custom"),
        ranks["custom"],
        rank_setting("HIDE_UNAPPLIED_CUSTOM_RANKS"),
        rank_setting("CUSTOM_NAME_PLACEHOLDER") or rank_setting("NAME_PLACEHOLDER"),
        rank_setting("CUSTOM_CODE_PLACEHOLDER") or rank_setting("CODE_PLACEHOLDER"),
        False,
    ) }}
</div>
{% endblock %}
