{% set page_title = _("Ranks Overview") %}
{% from theme("rank_macros.html") import render_rank, render_rank_users, render_placeholder_rank_row, render_actual_rank_row, render_rank_block %}
{% extends theme("layout.html") %}
{% block content %}

<div class="page-view">
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="active">{{ page_title }}</li>
    </ol>

    {{ render_rank_block(
            _("By Post"),
            ranks["requirement"],
            {
                "hide": rank_settings["hide"],
                "name": rank_settings["name"],
                "code": rank_settings["code"],
                "show_requirements": True,
                "show_users": rank_settings["show_users"],
                "how_many_users": rank_settings["how_many_users"]
            }
        )
    }}
    {{ render_rank_block(
            _("Custom"),
            ranks["custom"],
            {
                "hide": rank_settings["hide_custom"],
                "name": rank_settings["name"],
                "code": rank_settings["custom_code"],
                "show_requirements": False,
                "show_users": rank_settings["show_users"],
                "how_many_users": rank_settings["how_many_users"]
            }
        )
    }}

</div>
{% endblock %}
