{% set page_title = _("Ranks") %}
{% set active = "ranks_management.index" %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Manage Ranks{% endtrans %}</li>
</ol>
{% endblock %}

{% block management_content %}
<div class="col-md-12 settings-col">
    <div class="card settings">
        <div class="card-header settings-header d-flex align-items-center">
            <span><span class="fa fa-id-badge"></span> {% block rank_title %}{% trans %}Ranks{% endtrans %}{% endblock %}</span>
            <a class="btn btn-sm btn-success ms-auto" href="{{ url_for('ranks_management.add_rank') }}">
                <span class="fa fa-plus"></span> {% trans %}Add Rank{% endtrans %}
            </a>
        </div>
        <div class="card-body settings-body">
            {% block rank_management %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
