{% extends theme("rank_management_base.html") %}
{% from theme("macros.html") import horizontal_field %}
{% from theme("rank_macros.html") import render_single_rank_block %}
{% block rank_management %}
                {{ render_single_rank_block(rank) }}
                <form class="form-horizontal settings-form" role="form" method="post">
                    {{ form.hidden_tag() }}
                    {{ horizontal_field(form.rank_name) }}
                    {{ horizontal_field(form.rank_code, div_class="col-sm-8 editor", rows="5", placeholder="", **{'data-provide': 'markdown', 'class': 'flaskbb-editor'}) }}
                    {{ horizontal_field(form.requirement) }}
                    {{ horizontal_field(form.submit) }}

                    {% include theme('editor_help.html') %}
                </form>
                </div>
{% endblock %}
