{% macro rank_users(rank, limit=None) -%}
{%- set users = rank.users | list -%}
{%- for user in (users if limit is none else users[:limit]) -%}
<a href="{{ user.url }}">{{ user.username }}</a>{% if not loop.last %}, {% endif %}
{%- endfor -%}
{%- if limit is not none and users | length > limit %}, <a href="{{ url_for('ranks.rank_detail', rank_id=rank.id) }}">{% trans %}more{% endtrans %}</a>{% endif -%}
{%- endmacro %}


{% macro rank_block(title, ranks, hide_unapplied, name_placeholder, code_placeholder, show_requirement) %}
{%- set show_users = rank_setting("SHOW_USERS") -%}
<div class="card page mb-3">
    <div class="card-header page-header">{{ title }}</div>
    <div class="card-body page-body">
        <div class="row m-0 page-meta">
            <div class="col-md-3 col-6 ps-3 meta-item">{% trans %}Name{% endtrans %}</div>
            <div class="col-md-3 col-6 meta-item">{% trans %}Rank{% endtrans %}</div>
            {% if show_requirement %}
            <div class="col-md-2 d-none d-md-block meta-item">{% trans %}Posts{% endtrans %}</div>
            {% endif %}
            {% if show_users %}
            <div class="col d-none d-md-block meta-item">{% trans %}Users{% endtrans %}</div>
            {% endif %}
        </div>
        {% for rank in ranks %}
        <div class="row page-row hover">
            {% if hide_unapplied and not rank.users %}
            <div class="col-md-3 col-6 ps-3">{{ name_placeholder }}</div>
            <div class="col-md-3 col-6">{{ code_placeholder|nonpost_markup }}</div>
            {% if show_requirement %}
            <div class="col-md-2 d-none d-md-block">{{ rank_setting("REQUIREMENT_PLACEHOLDER") or rank.requirement }}</div>
            {% endif %}
            {% if show_users %}
            <div class="col d-none d-md-block"></div>
            {% endif %}
            {% else %}
            <div class="col-md-3 col-6 ps-3">
                <a href="{{ url_for('ranks.rank_detail', rank_id=rank.id) }}">{{ rank.rank_name }}</a>
            </div>
            <div class="col-md-3 col-6">{{ rank.rank_code|nonpost_markup }}</div>
            {% if show_requirement %}
            <div class="col-md-2 d-none d-md-block">{{ rank.requirement }}</div>
            {% endif %}
            {% if show_users %}
            <div class="col d-none d-md-block">{{ rank_users(rank, rank_setting("HOW_MANY_USERS")) }}</div>
            {% endif %}
            {% endif %}
        </div>
        {% else %}
        <div class="row page-row">
            <div class="col-12 ps-3">{% trans %}No ranks found.{% endtrans %}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}
